* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   /* makes elements' border and padding to be included in total width and height,
                                which makes for a cleaner layout */
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    border: 2px solid #010124;
    width: 800px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}